<!DOCTYPE html>
<html>
    <%- include ./partials/header %>
  <body>
    <%- include ./partials/navbar %> 
    <div class="container">
        <h1>User Data</h1>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <td>Name</td>
                    <td>Email</td>
                    <td>Website</td>
                </tr>
            </thead>
            <% for (let i=0; i < userData.length; i++) { %>
                <tr>
                 <td><%=userData[i].name%></td>
                 <td><%=userData[i].email%></td> 
                 <td><%=userData[i].website%></td> 
                </tr>
              <% } %>
        </table>
    </div>
    <%- include ./partials/scripts %> 
  </body>
</html>
